In [1]:
import pandas as pd
import numpy as np
import tensorflow as tf
import sklearn

In [2]:
import os
import json

In [3]:
import re
from datetime import datetime
## for plotting
import matplotlib.pyplot as plt
import seaborn as sns
## for machine learning
from sklearn import metrics, preprocessing
## for deep learning
from tensorflow.keras import models, layers, utils  #(2.6.0)

In [4]:
# data viz
import matplotlib.pyplot as plt
from matplotlib import rcParams
import seaborn as sns

In [5]:
# apply some cool styling
plt.style.use("ggplot")
rcParams['figure.figsize'] = (12,  6)

# Users Dataset

In [6]:
#userDataset = pd.read_csv('raw_data\steam_users_purchase_play.csv')

In [7]:
#dfUsers = pd.DataFrame(userDataset)

In [8]:
#list(dfUsers.columns)

In [9]:
#display(dfUsers)

# Games Dataset

In [10]:
# games2005 = pd.read_csv('raw_data\year 2005-2008.csv')
# games2008 = pd.read_csv('raw_data\year 2008-2011.csv')
# games2011 = pd.read_csv('raw_data\year 2011-2014.csv')
# games2014 = pd.read_csv('raw_data\year 2014-2017.csv')
# games2017 = pd.read_csv('raw_data\year 2017-2022.csv')

In [11]:
# df2005 = pd.DataFrame(games2005)
# df2008 = pd.DataFrame(games2008)
# df2011 = pd.DataFrame(games2011)
# df2014 = pd.DataFrame(games2014)
# df2017 = pd.DataFrame(games2017)

In [12]:
# dfGames = pd.concat([df2005, df2008,df2011,df2014,df2017], axis=0)

In [13]:
# dfGames.info()

In [14]:
#  dfGames.rename(columns={'name': 'game_name'},
#           inplace=True, errors='raise')

In [15]:
# display(dfGames)

# Merged dataset

In [16]:
#df=pd.merge(dfUsers,dfGames)

In [17]:
df = pd.read_csv('users_games_dataset.csv')

C:\Users\USCS\AppData\Local\Temp\ipykernel_1848\3590791216.py:1: DtypeWarning: Columns (85,103,115,119,123) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('users_games_dataset.csv')

In [18]:
#df.to_csv('users_games_dataset.csv')

In [19]:
display(df)

,Unnamed: 0,user_id,game_name,hours,purchase,play,id,category,collection/id,collection/name,...,genres/5/id,genres/5/name,themes/5/id,themes/5/name,themes/6/id,themes/6/name,game_modes/4/id,game_modes/4/name,genres/6/id,genres/6/name
0,0,151603712,Fallout 4,87.0,1,1,9630,0,3,Fallout,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,87445402,Fallout 4,83.0,1,1,9630,0,3,Fallout,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,25096601,Fallout 4,1.6,1,1,9630,0,3,Fallout,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,211925330,Fallout 4,133.0,1,1,9630,0,3,Fallout,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,115396529,Fallout 4,17.9,1,1,9630,0,3,Fallout,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14201,14201,76892907,Double Dragon Trilogy,0.0,1,0,23805,3,694,Double Dragon,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14202,14202,76892907,EvilQuest,0.0,1,0,3237,0,585,EvilQuest,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14203,14203,204401529,Assassin's Creed Rogue,62.0,1,1,7570,0,18,Assassin's Creed,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14204,14204,116564064,Assassin's Creed Rogue,0.0,1,0,7570,0,18,Assassin's Creed,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14205,14205,190650796,Doodle God,6.4,1,1,18528,0,2615,Doodle God,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14206 entries, 0 to 14205
Columns: 128 entries, Unnamed: 0 to genres/6/name
dtypes: float64(48), int64(22), object(58)
memory usage: 13.9+ MB

In [21]:
columns=df.columns.tolist()
print(columns)

['Unnamed: 0', 'user_id', 'game_name', 'hours', 'purchase', 'play', 'id', 'category', 'collection/id', 'collection/name', 'franchises/0/id', 'franchises/0/name', 'game_modes/0/id', 'game_modes/0/name', 'genres/0/id', 'genres/0/name', 'keywords/0/id', 'keywords/0/name', 'keywords/1/id', 'keywords/1/name', 'keywords/2/id', 'keywords/2/name', 'keywords/3/id', 'keywords/3/name', 'keywords/4/id', 'keywords/4/name', 'keywords/5/id', 'keywords/5/name', 'keywords/6/id', 'keywords/6/name', 'keywords/7/id', 'keywords/7/name', 'keywords/8/id', 'keywords/8/name', 'keywords/9/id', 'keywords/9/name', 'keywords/10/id', 'keywords/10/name', 'keywords/11/id', 'keywords/11/name', 'keywords/12/id', 'keywords/12/name', 'keywords/13/id', 'keywords/13/name', 'keywords/14/id', 'keywords/14/name', 'keywords/15/id', 'keywords/15/name', 'keywords/16/id', 'keywords/16/name', 'keywords/17/id', 'keywords/17/name', 'keywords/18/id', 'keywords/18/name', 'keywords/19/id', 'keywords/19/name', 'keywords/20/id', 'keywords/20/name', 'platforms/0/id', 'platforms/0/name', 'rating', 'rating_count', 'similar_games/0/id', 'similar_games/0/name', 'similar_games/1/id', 'similar_games/1/name', 'similar_games/2/id', 'similar_games/2/name', 'similar_games/3/id', 'similar_games/3/name', 'similar_games/4/id', 'similar_games/4/name', 'similar_games/5/id', 'similar_games/5/name', 'similar_games/6/id', 'similar_games/6/name', 'similar_games/7/id', 'similar_games/7/name', 'similar_games/8/id', 'similar_games/8/name', 'similar_games/9/id', 'similar_games/9/name', 'themes/0/id', 'themes/0/name', 'franchises/1/id', 'franchises/1/name', 'platforms/1/id', 'platforms/1/name', 'platforms/2/id', 'platforms/2/name', 'platforms/3/id', 'platforms/3/name', 'platforms/4/id', 'platforms/4/name', 'platforms/5/id', 'platforms/5/name', 'themes/1/id', 'themes/1/name', 'genres/1/id', 'genres/1/name', 'game_modes/1/id', 'game_modes/1/name', 'game_modes/2/id', 'game_modes/2/name', 'genres/2/id', 'genres/2/name', 'genres/3/id', 'genres/3/name', 'genres/4/id', 'genres/4/name', 'themes/2/id', 'themes/2/name', 'themes/3/id', 'themes/3/name', 'game_modes/3/id', 'game_modes/3/name', 'themes/4/id', 'themes/4/name', 'genres/5/id', 'genres/5/name', 'themes/5/id', 'themes/5/name', 'themes/6/id', 'themes/6/name', 'game_modes/4/id', 'game_modes/4/name', 'genres/6/id', 'genres/6/name']

In [22]:
#df = df.replace({np.nan:""})

In [23]:
display(df)

,Unnamed: 0,user_id,game_name,hours,purchase,play,id,category,collection/id,collection/name,...,genres/5/id,genres/5/name,themes/5/id,themes/5/name,themes/6/id,themes/6/name,game_modes/4/id,game_modes/4/name,genres/6/id,genres/6/name
0,0,151603712,Fallout 4,87.0,1,1,9630,0,3,Fallout,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,87445402,Fallout 4,83.0,1,1,9630,0,3,Fallout,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,25096601,Fallout 4,1.6,1,1,9630,0,3,Fallout,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,211925330,Fallout 4,133.0,1,1,9630,0,3,Fallout,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,115396529,Fallout 4,17.9,1,1,9630,0,3,Fallout,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14201,14201,76892907,Double Dragon Trilogy,0.0,1,0,23805,3,694,Double Dragon,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14202,14202,76892907,EvilQuest,0.0,1,0,3237,0,585,EvilQuest,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14203,14203,204401529,Assassin's Creed Rogue,62.0,1,1,7570,0,18,Assassin's Creed,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14204,14204,116564064,Assassin's Creed Rogue,0.0,1,0,7570,0,18,Assassin's Creed,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14205,14205,190650796,Doodle God,6.4,1,1,18528,0,2615,Doodle God,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [24]:
deleteVariable ='/id'
for j in range(0, len(columns)):
    if(columns[j].find(deleteVariable) != -1):
        df = df.drop([columns[j]], axis=1)

In [25]:
display(df)

,Unnamed: 0,user_id,game_name,hours,purchase,play,id,category,collection/name,franchises/0/name,...,genres/4/name,themes/2/name,themes/3/name,game_modes/3/name,themes/4/name,genres/5/name,themes/5/name,themes/6/name,game_modes/4/name,genres/6/name
0,0,151603712,Fallout 4,87.0,1,1,9630,0,Fallout,Fallout,...,NaN,Survival,Sandbox,NaN,Open world,NaN,NaN,NaN,NaN,NaN
1,1,87445402,Fallout 4,83.0,1,1,9630,0,Fallout,Fallout,...,NaN,Survival,Sandbox,NaN,Open world,NaN,NaN,NaN,NaN,NaN
2,2,25096601,Fallout 4,1.6,1,1,9630,0,Fallout,Fallout,...,NaN,Survival,Sandbox,NaN,Open world,NaN,NaN,NaN,NaN,NaN
3,3,211925330,Fallout 4,133.0,1,1,9630,0,Fallout,Fallout,...,NaN,Survival,Sandbox,NaN,Open world,NaN,NaN,NaN,NaN,NaN
4,4,115396529,Fallout 4,17.9,1,1,9630,0,Fallout,Fallout,...,NaN,Survival,Sandbox,NaN,Open world,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14201,14201,76892907,Double Dragon Trilogy,0.0,1,0,23805,3,Double Dragon,Double Dragon,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14202,14202,76892907,EvilQuest,0.0,1,0,3237,0,EvilQuest,Crystalis,...,NaN,Historical,Open world,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14203,14203,204401529,Assassin's Creed Rogue,62.0,1,1,7570,0,Assassin's Creed,Assassin's Creed,...,NaN,Historical,Stealth,NaN,Open world,NaN,NaN,NaN,NaN,NaN
14204,14204,116564064,Assassin's Creed Rogue,0.0,1,0,7570,0,Assassin's Creed,Assassin's Creed,...,NaN,Historical,Stealth,NaN,Open world,NaN,NaN,NaN,NaN,NaN
14205,14205,190650796,Doodle God,6.4,1,1,18528,0,Doodle God,Doodle God,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [26]:
columns=df.columns.tolist()
print(columns)

['Unnamed: 0', 'user_id', 'game_name', 'hours', 'purchase', 'play', 'id', 'category', 'collection/name', 'franchises/0/name', 'game_modes/0/name', 'genres/0/name', 'keywords/0/name', 'keywords/1/name', 'keywords/2/name', 'keywords/3/name', 'keywords/4/name', 'keywords/5/name', 'keywords/6/name', 'keywords/7/name', 'keywords/8/name', 'keywords/9/name', 'keywords/10/name', 'keywords/11/name', 'keywords/12/name', 'keywords/13/name', 'keywords/14/name', 'keywords/15/name', 'keywords/16/name', 'keywords/17/name', 'keywords/18/name', 'keywords/19/name', 'keywords/20/name', 'platforms/0/name', 'rating', 'rating_count', 'similar_games/0/name', 'similar_games/1/name', 'similar_games/2/name', 'similar_games/3/name', 'similar_games/4/name', 'similar_games/5/name', 'similar_games/6/name', 'similar_games/7/name', 'similar_games/8/name', 'similar_games/9/name', 'themes/0/name', 'franchises/1/name', 'platforms/1/name', 'platforms/2/name', 'platforms/3/name', 'platforms/4/name', 'platforms/5/name', 'themes/1/name', 'genres/1/name', 'game_modes/1/name', 'game_modes/2/name', 'genres/2/name', 'genres/3/name', 'genres/4/name', 'themes/2/name', 'themes/3/name', 'game_modes/3/name', 'themes/4/name', 'genres/5/name', 'themes/5/name', 'themes/6/name', 'game_modes/4/name', 'genres/6/name']

In [27]:
keywordVaraible='keywords/'
keywords=[]
for j in range(0, len(columns)):
    if(columns[j].find(keywordVaraible)!=-1):
        keywords.append(columns[j])
df['keywords'] = [[e for e in row if e==e] for row in df[keywords].values.tolist()]
#####
gamemodeVaraible='game_modes/'
gamemodes=[]
for j in range(0, len(columns)):
    if(columns[j].find(gamemodeVaraible)!=-1):
        gamemodes.append(columns[j])
df['gamemodes'] = [[e for e in row if e==e] for row in df[gamemodes].values.tolist()]
#####
#####
genresVaraible='genres/'
genres=[]
for j in range(0, len(columns)):
    if(columns[j].find(genresVaraible)!=-1):
        genres.append(columns[j])
df['genres'] =[[e for e in row if e==e] for row in df[genres].values.tolist()]
#####
#####
themesVaraible='themes/'
themes=[]
for j in range(0, len(columns)):
    if(columns[j].find(themesVaraible)!=-1):
        themes.append(columns[j])
df['themes']= [[e for e in row if e==e] for row in df[themes].values.tolist()]
#####
##########
franchisesVaraible='franchises/'
franchises=[]
for j in range(0, len(columns)):
    if(columns[j].find(franchisesVaraible)!=-1):
        franchises.append(columns[j])
df['franchises'] = [[e for e in row if e==e] for row in df[franchises].values.tolist()]
#####
##########
platformsVaraible='platforms/'
platforms=[]
for j in range(0, len(columns)):
    if(columns[j].find(platformsVaraible)!=-1):
        platforms.append(columns[j])
df['platforms'] = [[e for e in row if e==e] for row in df[platforms].values.tolist()]
#####
##########
similar_gamesVaraible='similar_games/'
similar_games=[]
for j in range(0, len(columns)):
    if(columns[j].find(similar_gamesVaraible)!=-1):
        similar_games.append(columns[j])
df['similar_games'] = [[e for e in row if e==e] for row in df[similar_games].values.tolist()]
#####

In [28]:
print(len(columns))

69

In [29]:
#for deleting all columns
for j in range(0, len(columns)):
    columnName='franchises/'+str(j)+'/name'
    print(columnName)
    if columnName in df.columns:
        df = df.drop([columnName], axis=1)

franchises/0/name
franchises/1/name
franchises/2/name
franchises/3/name
franchises/4/name
franchises/5/name
franchises/6/name
franchises/7/name
franchises/8/name
franchises/9/name
franchises/10/name
franchises/11/name
franchises/12/name
franchises/13/name
franchises/14/name
franchises/15/name
franchises/16/name
franchises/17/name
franchises/18/name
franchises/19/name
franchises/20/name
franchises/21/name
franchises/22/name
franchises/23/name
franchises/24/name
franchises/25/name
franchises/26/name
franchises/27/name
franchises/28/name
franchises/29/name
franchises/30/name
franchises/31/name
franchises/32/name
franchises/33/name
franchises/34/name
franchises/35/name
franchises/36/name
franchises/37/name
franchises/38/name
franchises/39/name
franchises/40/name
franchises/41/name
franchises/42/name
franchises/43/name
franchises/44/name
franchises/45/name
franchises/46/name
franchises/47/name
franchises/48/name
franchises/49/name
franchises/50/name
franchises/51/name
franchises/52/name
franchises/53/name
franchises/54/name
franchises/55/name
franchises/56/name
franchises/57/name
franchises/58/name
franchises/59/name
franchises/60/name
franchises/61/name
franchises/62/name
franchises/63/name
franchises/64/name
franchises/65/name
franchises/66/name
franchises/67/name
franchises/68/name

In [30]:
#for deleting all columns
for j in range(0, len(columns)):
    columnName='keywords/'+str(j)+'/name'
    print(columnName)
    if columnName in df.columns:
        df = df.drop([columnName], axis=1)

keywords/0/name
keywords/1/name
keywords/2/name
keywords/3/name
keywords/4/name
keywords/5/name
keywords/6/name
keywords/7/name
keywords/8/name
keywords/9/name
keywords/10/name
keywords/11/name
keywords/12/name
keywords/13/name
keywords/14/name
keywords/15/name
keywords/16/name
keywords/17/name
keywords/18/name
keywords/19/name
keywords/20/name
keywords/21/name
keywords/22/name
keywords/23/name
keywords/24/name
keywords/25/name
keywords/26/name
keywords/27/name
keywords/28/name
keywords/29/name
keywords/30/name
keywords/31/name
keywords/32/name
keywords/33/name
keywords/34/name
keywords/35/name
keywords/36/name
keywords/37/name
keywords/38/name
keywords/39/name
keywords/40/name
keywords/41/name
keywords/42/name
keywords/43/name
keywords/44/name
keywords/45/name
keywords/46/name
keywords/47/name
keywords/48/name
keywords/49/name
keywords/50/name
keywords/51/name
keywords/52/name
keywords/53/name
keywords/54/name
keywords/55/name
keywords/56/name
keywords/57/name
keywords/58/name
keywords/59/name
keywords/60/name
keywords/61/name
keywords/62/name
keywords/63/name
keywords/64/name
keywords/65/name
keywords/66/name
keywords/67/name
keywords/68/name

In [31]:
#for deleting all columns
for j in range(0, len(columns)):
    columnName='themes/'+str(j)+'/name'
    print(columnName)
    if columnName in df.columns:
        df = df.drop([columnName], axis=1)

themes/0/name
themes/1/name
themes/2/name
themes/3/name
themes/4/name
themes/5/name
themes/6/name
themes/7/name
themes/8/name
themes/9/name
themes/10/name
themes/11/name
themes/12/name
themes/13/name
themes/14/name
themes/15/name
themes/16/name
themes/17/name
themes/18/name
themes/19/name
themes/20/name
themes/21/name
themes/22/name
themes/23/name
themes/24/name
themes/25/name
themes/26/name
themes/27/name
themes/28/name
themes/29/name
themes/30/name
themes/31/name
themes/32/name
themes/33/name
themes/34/name
themes/35/name
themes/36/name
themes/37/name
themes/38/name
themes/39/name
themes/40/name
themes/41/name
themes/42/name
themes/43/name
themes/44/name
themes/45/name
themes/46/name
themes/47/name
themes/48/name
themes/49/name
themes/50/name
themes/51/name
themes/52/name
themes/53/name
themes/54/name
themes/55/name
themes/56/name
themes/57/name
themes/58/name
themes/59/name
themes/60/name
themes/61/name
themes/62/name
themes/63/name
themes/64/name
themes/65/name
themes/66/name
themes/67/name
themes/68/name

In [32]:
#for deleting all columns
for j in range(0, len(columns)):
    columnName='genres/'+str(j)+'/name'
    print(columnName)
    if columnName in df.columns:
        df = df.drop([columnName], axis=1)

genres/0/name
genres/1/name
genres/2/name
genres/3/name
genres/4/name
genres/5/name
genres/6/name
genres/7/name
genres/8/name
genres/9/name
genres/10/name
genres/11/name
genres/12/name
genres/13/name
genres/14/name
genres/15/name
genres/16/name
genres/17/name
genres/18/name
genres/19/name
genres/20/name
genres/21/name
genres/22/name
genres/23/name
genres/24/name
genres/25/name
genres/26/name
genres/27/name
genres/28/name
genres/29/name
genres/30/name
genres/31/name
genres/32/name
genres/33/name
genres/34/name
genres/35/name
genres/36/name
genres/37/name
genres/38/name
genres/39/name
genres/40/name
genres/41/name
genres/42/name
genres/43/name
genres/44/name
genres/45/name
genres/46/name
genres/47/name
genres/48/name
genres/49/name
genres/50/name
genres/51/name
genres/52/name
genres/53/name
genres/54/name
genres/55/name
genres/56/name
genres/57/name
genres/58/name
genres/59/name
genres/60/name
genres/61/name
genres/62/name
genres/63/name
genres/64/name
genres/65/name
genres/66/name
genres/67/name
genres/68/name

In [33]:

#for deleting all columns
for j in range(0, len(columns)):
    columnName='game_modes/'+str(j)+'/name'
    print(columnName)
    if columnName in df.columns:
        df = df.drop([columnName], axis=1)

game_modes/0/name
game_modes/1/name
game_modes/2/name
game_modes/3/name
game_modes/4/name
game_modes/5/name
game_modes/6/name
game_modes/7/name
game_modes/8/name
game_modes/9/name
game_modes/10/name
game_modes/11/name
game_modes/12/name
game_modes/13/name
game_modes/14/name
game_modes/15/name
game_modes/16/name
game_modes/17/name
game_modes/18/name
game_modes/19/name
game_modes/20/name
game_modes/21/name
game_modes/22/name
game_modes/23/name
game_modes/24/name
game_modes/25/name
game_modes/26/name
game_modes/27/name
game_modes/28/name
game_modes/29/name
game_modes/30/name
game_modes/31/name
game_modes/32/name
game_modes/33/name
game_modes/34/name
game_modes/35/name
game_modes/36/name
game_modes/37/name
game_modes/38/name
game_modes/39/name
game_modes/40/name
game_modes/41/name
game_modes/42/name
game_modes/43/name
game_modes/44/name
game_modes/45/name
game_modes/46/name
game_modes/47/name
game_modes/48/name
game_modes/49/name
game_modes/50/name
game_modes/51/name
game_modes/52/name
game_modes/53/name
game_modes/54/name
game_modes/55/name
game_modes/56/name
game_modes/57/name
game_modes/58/name
game_modes/59/name
game_modes/60/name
game_modes/61/name
game_modes/62/name
game_modes/63/name
game_modes/64/name
game_modes/65/name
game_modes/66/name
game_modes/67/name
game_modes/68/name

In [34]:

#for deleting all columns
for j in range(0, len(columns)):
    columnName='platforms/'+str(j)+'/name'
    print(columnName)
    if columnName in df.columns:
        df = df.drop([columnName], axis=1)

platforms/0/name
platforms/1/name
platforms/2/name
platforms/3/name
platforms/4/name
platforms/5/name
platforms/6/name
platforms/7/name
platforms/8/name
platforms/9/name
platforms/10/name
platforms/11/name
platforms/12/name
platforms/13/name
platforms/14/name
platforms/15/name
platforms/16/name
platforms/17/name
platforms/18/name
platforms/19/name
platforms/20/name
platforms/21/name
platforms/22/name
platforms/23/name
platforms/24/name
platforms/25/name
platforms/26/name
platforms/27/name
platforms/28/name
platforms/29/name
platforms/30/name
platforms/31/name
platforms/32/name
platforms/33/name
platforms/34/name
platforms/35/name
platforms/36/name
platforms/37/name
platforms/38/name
platforms/39/name
platforms/40/name
platforms/41/name
platforms/42/name
platforms/43/name
platforms/44/name
platforms/45/name
platforms/46/name
platforms/47/name
platforms/48/name
platforms/49/name
platforms/50/name
platforms/51/name
platforms/52/name
platforms/53/name
platforms/54/name
platforms/55/name
platforms/56/name
platforms/57/name
platforms/58/name
platforms/59/name
platforms/60/name
platforms/61/name
platforms/62/name
platforms/63/name
platforms/64/name
platforms/65/name
platforms/66/name
platforms/67/name
platforms/68/name

In [35]:

#for deleting all columns
for j in range(0, len(columns)):
    columnName='similar_games/'+str(j)+'/name'
    print(columnName)
    if columnName in df.columns:
        df = df.drop([columnName], axis=1)

similar_games/0/name
similar_games/1/name
similar_games/2/name
similar_games/3/name
similar_games/4/name
similar_games/5/name
similar_games/6/name
similar_games/7/name
similar_games/8/name
similar_games/9/name
similar_games/10/name
similar_games/11/name
similar_games/12/name
similar_games/13/name
similar_games/14/name
similar_games/15/name
similar_games/16/name
similar_games/17/name
similar_games/18/name
similar_games/19/name
similar_games/20/name
similar_games/21/name
similar_games/22/name
similar_games/23/name
similar_games/24/name
similar_games/25/name
similar_games/26/name
similar_games/27/name
similar_games/28/name
similar_games/29/name
similar_games/30/name
similar_games/31/name
similar_games/32/name
similar_games/33/name
similar_games/34/name
similar_games/35/name
similar_games/36/name
similar_games/37/name
similar_games/38/name
similar_games/39/name
similar_games/40/name
similar_games/41/name
similar_games/42/name
similar_games/43/name
similar_games/44/name
similar_games/45/name
similar_games/46/name
similar_games/47/name
similar_games/48/name
similar_games/49/name
similar_games/50/name
similar_games/51/name
similar_games/52/name
similar_games/53/name
similar_games/54/name
similar_games/55/name
similar_games/56/name
similar_games/57/name
similar_games/58/name
similar_games/59/name
similar_games/60/name
similar_games/61/name
similar_games/62/name
similar_games/63/name
similar_games/64/name
similar_games/65/name
similar_games/66/name
similar_games/67/name
similar_games/68/name

In [36]:
#21
# for j in range(3, len(columns)):
#     print('keywords/'+str(j)+'/name')
#     if
#     df = df.drop(['keywords/'+str(j)+'/name'], axis=1)
#     df = df.drop(['keywords/'+str(j)+'/id'], axis=1)

In [37]:
#6
# for j in range(1, len(columns)):
#     print('keywords/'+str(j)+'/name')
#     df = df.drop(['platforms/'+str(j)+'/name'], axis=1)
#     df = df.drop(['platforms/'+str(j)+'/id'], axis=1)

In [38]:
#2
# for j in range(2, len(columns)):
#     print('keywords/'+str(j)+'/name')
#     df = df.drop(['franchises/'+str(j)+'/name'], axis=1)
#     df = df.drop(['franchises/'+str(j)+'/id'], axis=1)

In [39]:
dfColumns=df.columns

In [49]:
display(df)

,Unnamed: 0,user_id,game_name,hours,id,collection/name,rating,rating_count,keywords,gamemodes,genres,themes,franchises,platforms,similar_games
0,0,151603712,Fallout 4,87.0,9630,Fallout,80.177727,1157,"[cold war, hunting, robot, post-apocalyptic, e...",[Single player],"[Shooter, Role-playing (RPG)]","[Action, Science fiction, Survival, Sandbox, O...",[Fallout],"[PC (Microsoft Windows), PlayStation 4, Xbox O...","[Fallout, Fallout 2, Fallout 3, Fallout: New V..."
1,1,87445402,Fallout 4,83.0,9630,Fallout,80.177727,1157,"[cold war, hunting, robot, post-apocalyptic, e...",[Single player],"[Shooter, Role-playing (RPG)]","[Action, Science fiction, Survival, Sandbox, O...",[Fallout],"[PC (Microsoft Windows), PlayStation 4, Xbox O...","[Fallout, Fallout 2, Fallout 3, Fallout: New V..."
2,2,25096601,Fallout 4,1.6,9630,Fallout,80.177727,1157,"[cold war, hunting, robot, post-apocalyptic, e...",[Single player],"[Shooter, Role-playing (RPG)]","[Action, Science fiction, Survival, Sandbox, O...",[Fallout],"[PC (Microsoft Windows), PlayStation 4, Xbox O...","[Fallout, Fallout 2, Fallout 3, Fallout: New V..."
3,3,211925330,Fallout 4,133.0,9630,Fallout,80.177727,1157,"[cold war, hunting, robot, post-apocalyptic, e...",[Single player],"[Shooter, Role-playing (RPG)]","[Action, Science fiction, Survival, Sandbox, O...",[Fallout],"[PC (Microsoft Windows), PlayStation 4, Xbox O...","[Fallout, Fallout 2, Fallout 3, Fallout: New V..."
4,4,115396529,Fallout 4,17.9,9630,Fallout,80.177727,1157,"[cold war, hunting, robot, post-apocalyptic, e...",[Single player],"[Shooter, Role-playing (RPG)]","[Action, Science fiction, Survival, Sandbox, O...",[Fallout],"[PC (Microsoft Windows), PlayStation 4, Xbox O...","[Fallout, Fallout 2, Fallout 3, Fallout: New V..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14201,14201,76892907,Double Dragon Trilogy,0.0,23805,Double Dragon,50.000000,1,"[motorcycle, martial arts, compilation, brawle...","[Single player, Multiplayer, Co-operative]","[Fighting, Hack and slash/Beat 'em up, Arcade]",[Action],[Double Dragon],"[PC (Microsoft Windows), Android, iOS, Ouya]","[Batman: Arkham Knight, Get Even, Endless Lege..."
14202,14202,76892907,EvilQuest,0.0,3237,EvilQuest,64.501817,5,"[you get to be evil!, retro, medieval, 2d, fan...",[Single player],"[Role-playing (RPG), Adventure, Indie]","[Action, Fantasy, Historical, Open world]",[Crystalis],"[PC (Microsoft Windows), Xbox 360]","[Life is Feudal: Your Own, Battle Brothers, Va..."
14203,14203,204401529,Assassin's Creed Rogue,62.0,7570,Assassin's Creed,72.588896,364,"[pirates, assassin, stealth, templars, sword, ...","[Single player, Multiplayer]","[Role-playing (RPG), Adventure]","[Action, Fantasy, Historical, Stealth, Open wo...",[Assassin's Creed],"[PC (Microsoft Windows), PlayStation 3, Xbox 360]","[Assassin's Creed, Assassin's Creed Revelation..."
14204,14204,116564064,Assassin's Creed Rogue,0.0,7570,Assassin's Creed,72.588896,364,"[pirates, assassin, stealth, templars, sword, ...","[Single player, Multiplayer]","[Role-playing (RPG), Adventure]","[Action, Fantasy, Historical, Stealth, Open wo...",[Assassin's Creed],"[PC (Microsoft Windows), PlayStation 3, Xbox 360]","[Assassin's Creed, Assassin's Creed Revelation..."
14205,14205,190650796,Doodle God,6.4,18528,Doodle God,68.279088,22,"[dinosaurs, blood, wizards, vampire, dragons, ...",[Single player],"[Puzzle, Simulator, Indie]",[Action],[Doodle God],"[Linux, PC (Microsoft Windows), PlayStation 3,...","[Minecraft, Limbo, The Witcher 3: Wild Hunt, A..."

In [48]:
#df=df.drop(["category"],axis=1)
df=df.drop(["purchase"],axis=1)
df=df.drop(["play"],axis=1)

In [42]:
#df.to_csv('dirty_dataset.csv')

# Analysing feature values

In [ ]:
df.groupby("purchase").count()["game_name"].sort_values(ascending=False).plot(
    kind="bar", color="green", title="Y by user", figsize=(20,5)).grid(axis='y')

In [ ]:
#sns.scatterplot(x="hours",y="game_name", data=df, palette="Dark2", s=80)

# Analysing data

In [ ]:
#sns.pairplot(df)

In [ ]:
df.describe()

In [ ]:
for col in df:
    print(df[col].unique())

In [ ]:
sns.kdeplot(df['hours'])

In [ ]:
df["hours"].value_counts()